@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #9292927c;
}

::-webkit-scrollbar-thumb {
  background: #7b7b7bbf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9292927c;
}

.bg-img {
  background-image: url(assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
